%h1 Welcome to LogAStrava!
%p Sign up for an account to automatically sync all of your LogARun data to your Strava account!
=link_to 'Create Account', users_new_path
%hr
= form_for :user, url: users_login_path do |f|
  = f.label 'Username:'
  = f.text_field :username
  %br
  = f.label 'Password:'
  = f.text_field :password
  %br
  = f.submit 'Log In'
